@model Reports.Services.Models.Passenger.PassengerData
@{
    ViewBag.Title = "Passenger Registration";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var accessCodes = ((Helpers.Security.EBusPrinciple)System.Threading.Thread.CurrentPrincipal).Properties.AccessCodes;
}
@section scripts
{
    <link rel="stylesheet" type="text/css" href="~/Styles/DataTable/datatables.min.css" />
    <script type="text/javascript" src="~/Scripts/DataTable/datatables.min.js"></script>
    <link href="~/Styles/Jquery/jquery-ui.css" rel="stylesheet" />
    <style>
        .funkyradio div {
            /*clear: both;*/
            overflow: hidden;
        }

        .funkyradio label {
            width: 82%;
            border-radius: 3px;
            border: 1px solid #D1D3D4;
            font-weight: normal;
        }

        .funkyradio input[type="radio"]:empty,
        .funkyradio input[type="checkbox"]:empty {
            display: none;
        }

            .funkyradio input[type="radio"]:empty ~ label,
            .funkyradio input[type="checkbox"]:empty ~ label {
                position: relative;
                line-height: 2.0em;
                text-indent: 3.25em;
                /*margin-top: 2em;*/
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

                .funkyradio input[type="radio"]:empty ~ label:before,
                .funkyradio input[type="checkbox"]:empty ~ label:before {
                    position: absolute;
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 2.5em;
                    background: #D1D3D4;
                    border-radius: 3px 0 0 3px;
                }

        .funkyradio input[type="radio"]:hover:not(:checked) ~ label,
        .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
            color: #888;
        }

            .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
            .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
                content: '\2714';
                text-indent: .9em;
                color: #C2C2C2;
            }

        .funkyradio input[type="radio"]:checked ~ label,
        .funkyradio input[type="checkbox"]:checked ~ label {
            color: #777;
        }

            .funkyradio input[type="radio"]:checked ~ label:before,
            .funkyradio input[type="checkbox"]:checked ~ label:before {
                content: '\2714';
                text-indent: .9em;
                color: #333;
                background-color: #ccc;
            }

        .funkyradio input[type="radio"]:focus ~ label:before,
        .funkyradio input[type="checkbox"]:focus ~ label:before {
            box-shadow: 0 0 0 3px #999;
        }

        .funkyradio-info input[type="radio"]:checked ~ label:before,
        .funkyradio-info input[type="checkbox"]:checked ~ label:before {
            color: #fff;
            background-color: #5bc0de;
        }

        .funkyradio-success input[type="radio"]:checked ~ label:before,
        .funkyradio-success input[type="checkbox"]:checked ~ label:before {
            color: #fff;
            background-color: #5cb85c;
        }
        
        .form-group input[type="checkbox"] {
            display: none;
        }

            .form-group input[type="checkbox"] + .btn-group > label span {
                width: 20px;
            }

                .form-group input[type="checkbox"] + .btn-group > label span:first-child {
                    display: none;
                }

                .form-group input[type="checkbox"] + .btn-group > label span:last-child {
                    display: inline-block;
                }

            .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
                display: inline-block;
            }

            .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
                display: none;
            }

        .thead-inverse th {
            color: #fff;
            background-color: #373a3c;
            text-align: center;
        }

        .table-striped td {
            text-align: center;
        }

        .modal-lg {
            min-width: 1250px;
        }

        .transaction {
            min-width: 900px;
        }

        .linkEdit {
            text-decoration: none;
            cursor: pointer;
            color: green;
        }

        .linkDeActivate {
            text-decoration: none;
            cursor: pointer;
            color: red;
        }

        .linkView {
            text-decoration: none;
            cursor: pointer;
            color: blue;
        }

        .tick {
            text-decoration: none;
            color: darkgreen;
        }

        .cross {
            text-decoration: none;
            color: darkred;
        }

        .modal-title {
            margin: 0;
            line-height: 1.428571;
            font-size: medium;
        }

        .select2 {
            float: left;
        }

        .btn {
            padding: 0px 12px;
            max-height: 30px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("select.select2").select2({ width: "75%" });
            $("select.select2Mini").select2({ width: "35%" });
            $("select.select2Line").select2({ tags: true, width: "75%" });

            $("#txtDateOfBirth").datepicker({
                dateFormat: "dd-mm-yy",
                maxDate: new Date,
                beforeShow: function () {
                    setTimeout(function () {
                        $('.ui-datepicker').css('z-index', 99999999999999);
                    }, 0);
                }
            });
        });
    </script>
}
<div class="container-fluid">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style="margin: 10px; color: #337ab7 !important">Passenger Registration</h2>
            </div>
        </div>
        <div class="row" id="divPassengerEditor">
            <div class="panel panel-info">
                <div class="panel-heading" style="background-color: #337ab7 !important;background-image: none;">
                    <a data-toggle="collapse" href="#pnlSearch" style="color:white;text-decoration:none;">Search Passenger</a>
                </div>
                <div id="pnlSearch" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row text-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-addon" style="min-width: 90px;">Smart Card Number</div>
                                        @Html.TextBoxFor(m => m.SmartCardNumber, new { id = "txtSmartCardNumber", @class = "form-control", placeholder = "Smart Card Number", maxlength = "30" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-addon" style="min-width: 90px;">First Name</div>
                                        @Html.TextBoxFor(m => m.FirstName, new { id = "txtFirstName", @class = "form-control", placeholder = "First Name", maxlength = "30" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-info" id="btnSearch">Search&nbsp;<i class="fa fa-1x fa-search"></i></button> &nbsp; &nbsp; &nbsp; &nbsp;
                                <button type="button" class="btn btn-danger" id="btnClearSearch">Clear</button>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group input-group-sm" style="min-width: 90px;">
                                        <div class="input-group-addon">ID Number<font style="color:red">*</font></div>
                                        @Html.TextBoxFor(m => m.IDNumber, new { id = "txtIDNumber", @class = "form-control", placeholder = "ID Number", maxlength = "30" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group input-group-sm" style="min-width: 90px;">
                                        <div class="input-group-addon">Cell Phone Number<font style="color:red">*</font></div>
                                        @Html.TextBoxFor(m => m.CellPhoneNumber, new { id = "txtCellPhoneNumber", @class = "form-control", placeholder = "Cell Phone Number", maxlength = "30" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="funkyradio">
                            <div class="col-md-3">
                                <div class="funkyradio-success">
                                    <input type="radio" name="passengerRadio" id="chkAll" value="" class="SearchPassengerFilter" />
                                    <label for="chkAll">All Passengers</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="funkyradio-success">
                                    <input type="radio" name="passengerRadio" id="chkCashOnly" value="Cash" class="SearchPassengerFilter" />
                                    <label for="chkCashOnly">Cash Passengers</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="funkyradio-success">
                                    <input type="radio" name="passengerRadio" id="chkSmartcardOnly" value="Smartcard" class="SearchPassengerFilter" />
                                    <label for="chkSmartcardOnly">Smartcard Passengers</label>
                                </div>
                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="funkyradio">
                            <div class="col-md-2">
                                <div class="funkyradio-info">
                                    <input type="radio" name="statusRadio" id="chkActive" checked="checked" value="Active" class="SearchStatusFilter" />
                                    <label for="chkActive">Active</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="funkyradio-info">
                                    <input type="radio" name="statusRadio" id="chkInActive" value="InActive" class="SearchStatusFilter" />
                                    <label for="chkInActive">InActive</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="funkyradio-info">
                                    <input type="radio" name="statusRadio" id="chkBoth" value="Both" class="SearchStatusFilter" />
                                    <label for="chkBoth">Both</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-success" id="btnAddPassenger">Add Passenger&nbsp;<i class="fa fa-1x fa-plus"></i></button>
                                &nbsp; &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="panel" id="divSearchResults">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="display table table-striped" id="tblPassengerResults">
                                    <thead class="thead-inverse" style="background-color:black">
                                        <tr>
                                            <th>Passenger Type</th>
                                            <th>First Name</th>
                                            <th>Sur Name</th>
                                            <th>Smartcard Number</th>
                                            <th>Cell Phone No</th>
                                            <th>Edit</th>
                                            @*<th>Activate/De-activate</th>*@
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_AddEditPassenger", Model)
            <input type="hidden" id="hdnIndexModelTitle" value="" />
        </div>
    </div>
</div>
<script>
    var divAddEditPassenger = $("div#divAddEditPassenger");
    var table = $('#tblPassengerResults').DataTable({ searching: false, ordering: false });
    $(document).ready(function () {
        $("input#chkActive").prop("checked", true);
        $("input#chkAll").prop("checked", true);
        SearchPassengers();
        BindPassengers(true, GetSelectedCheckBoxValue("SearchStatusFilter"), GetSelectedCheckBoxValue("SearchPassengerFilter"));
        AddPassenger();

        $("input.SearchStatusFilter").change(function () {
            BindPassengers(true, $(this).attr("value"), GetSelectedCheckBoxValue("SearchPassengerFilter"));
        });

        $("input.SearchPassengerFilter").change(function () {
            BindPassengers(true, GetSelectedCheckBoxValue("SearchStatusFilter"), $(this).attr("value"));
        });

        $("button#btnClearSearch").click(function () {
            ClearFormValuesInBlock($("div#pnlSearch"));
            BindPassengers(true, GetSelectedCheckBoxValue("SearchStatusFilter"), GetSelectedCheckBoxValue("SearchPassengerFilter"));
        });
        //$("div#tblPassengerResults_info").hide();
    });

    $(document).on("click", "a#lnkPassengerEdit", function () {
        ClearFormValuesInBlock(divAddEditPassenger);
        var row = $(this).parent().parent();
        BindPassengerDetails(row, $(this).attr("value"));
        SetPopupTitle(divAddEditPassenger, "Edit Passenger - ", divAddEditPassenger.find("input#hdnModelTitle").attr("value"));
        divAddEditPassenger.modal('show');
    });

    $(document).on("click", "a#lnkPassengerActivate", function () {

        var row = $(this).parent().parent();
        var status = row.find("input#hdnPassengerStatus").attr("value")== "true"? false: true;
        SetPassengerStatus(status, $(this).attr("value"));
    });

    function SetPassengerStatus(status, passengerID) {


            $.ajax({
                async: false,
                url: '@Url.Action("SetPassengerStatus", "PassengerRegistration")',
                type: 'Post',
                data: JSON.stringify({ status: status, passengerID: passengerID}),
                dataType: 'json',
                contentType: 'application/json',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    //Now Process the data
                    alert(result);
                    BindPassengers(true, GetSelectedCheckBoxValue("SearchStatusFilter"), GetSelectedCheckBoxValue("SearchPassengerFilter"));
                }
            }).done(function (result) {
                return false;
            });
    }

    function BindPassengerDetails(row, value) {

        divAddEditPassenger.find("input#txtSmartCardNumber").val(row.find("span#lblSmartCardNumber").html());
        divAddEditPassenger.find("input#txtInitials").val(row.find("input#hdnInitials").attr("value"));
        divAddEditPassenger.find("input#txtFirstName").val(row.find("span#lblFirstName").html());
        divAddEditPassenger.find("input#txtIDNumber").val(row.find("input#hdnIDNumber").attr("value"));
        divAddEditPassenger.find("input#txtCellPhoneNumber").val(row.find("span#lblCellPhoneNumber").html());
        divAddEditPassenger.find("input#txtAlternativePhoneNumber").val(row.find("input#hdnAlternativePhoneNumber").attr("value"));
        divAddEditPassenger.find("input#txtTitle").val(row.find("input#hdnTitle").attr("value"));
        divAddEditPassenger.find("input#txtEmail").val(row.find("input#hdnEmail").attr("value"));
        divAddEditPassenger.find("input#txtAddress").val(row.find("input#hdnAddress").attr("value"));
        divAddEditPassenger.find("input#txtDateOfBirth").val(row.find("input#hdnDateOfBirth").attr("value"));
        divAddEditPassenger.find("input#txtSurname").val(row.find("span#lblSurname").html());
        divAddEditPassenger.find("input#txtStatus").val(row.find("input#hdnStatus").attr("value"));
        divAddEditPassenger.find("select#ddlSmartCardTypes").val(row.find("input#hdnSmartCardTypeID").attr("value")).change();
        divAddEditPassenger.find("select#ddlPassengerType").val(row.find("span#lblPassengerType").html()).change();
        divAddEditPassenger.find("input#hdnPassengerID").attr("value", value);

        if (row.find("input#hdnStatus").attr("value") == "true")
            divAddEditPassenger.find("input#chkPassengerActive").prop("checked", true);
        else
            divAddEditPassenger.find("input#chkPassengerActive").removeProp("checked");

        var titleText = "";
        if (row.find("span#lblSmartCardNumber").html() != "")
            titleText = row.find("span#lblFirstName").html() + "(" + row.find("span#lblSmartCardNumber").html() + ")";
        else
            titleText = row.find("span#lblFirstName").html();
        divAddEditPassenger.find("input#hdnModelTitle").attr("value", titleText);
    }

    function SearchPassengers() {
        $("button#btnSearch").click(function () {
            BindPassengers(false, GetSelectedCheckBoxValue("SearchStatusFilter"), GetSelectedCheckBoxValue("SearchPassengerFilter"));
        });
    }

    function BindPassengers(isFromPageLoad, status, passengerType) {

        table.destroy();
        var smartCardNumber = $("input#txtSmartCardNumber").val();
        var firstName = $("input#txtFirstName").val();
        var idNumber = $("input#txtIDNumber").val();
        var cellPhone = $("input#txtCellPhoneNumber").val();
        var tableBody = $("table#tblPassengerResults").find("tbody");
        var rows = "";
        if (!isFromPageLoad && smartCardNumber == "" && firstName == "" && idNumber == '' && cellPhone == '') {
            alert("Please enter search criteria!!");
            $("#txtSmartCardNumber").focus();
            return false;
        }
        else {
            if (status == "") { status = "Active"; }
            $.ajax({
                async: false,
                url: '@Url.Action("SearchPassenger", "PassengerRegistration")',
                type: 'Post',
                data: JSON.stringify({ smartCardNumber: smartCardNumber, firstName: firstName, status: status, idNumber: idNumber, cellPhone: cellPhone, passengerType: passengerType}),
                dataType: 'json',
                contentType: 'application/json',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    //Now Process the data
                    tableBody.html();
                    if (result.length == 0) {
                        alert("No records found for the selected criteria!!");
                        tableBody.html("");
                    }
                    else {
                        $(result).each(function (index) {
                            var CurrentItem = this;

                            var actDeAct = "<td><a id='lnkPassengerActivate' class='linkDeActivate' value='" + CurrentItem.ID + "'><span class='fa-stack fa-sm '><i class='fa fa-close fa-stack-1x'></i></span>De-Activate</a></td>"
                            if (!CurrentItem.Status) {
                                actDeAct = "<td><a id='lnkPassengerActivate' class='linkEdit' value='" + CurrentItem.ID + "'><span class='fa-stack fa-sm '><i class='fa fa-check fa-stack-1x'></i></span>Activate</a></td>"
                            }

                            rows = rows + "<tr>";
                            rows = rows + "<td><span id='lblPassengerType'>" + CurrentItem.PassengerType + "</span><input type='hidden' value='" + CurrentItem.IDNumber  + "' id='hdnIDNumber'/><input type='hidden' value='" + CurrentItem.Email + "' id='hdnEmail'/></td>";
                            rows = rows + "<td><span id='lblFirstName'>" + CurrentItem.FirstName + "</span><input type='hidden' value='" + CurrentItem.DateOfBirth + "' id='hdnDateOfBirth'/></td>";
                            rows = rows + "<td><span id='lblSurname'>" + CurrentItem.Surname + "</span><input type='hidden' value='" + CurrentItem.Initials + "' id='hdnInitials'/><input type='hidden' value='" + CurrentItem.SmartCardTypeID + "' id='hdnSmartCardTypeID'/></td>";
                            rows = rows + "<td><span id='lblSmartCardNumber'>" + CurrentItem.SmartCardNumber+ "</span><input type='hidden' value='" + CurrentItem.Title + "' id='hdnTitle'/><input type='hidden' value='" + CurrentItem.AlternativePhoneNumber + "' id='hdnAlternativePhoneNumber'/></td>";
                            rows = rows + "<td><span id='lblCellPhoneNumber'>" + CurrentItem.CellPhoneNumber + "</span><input type='hidden' value='" + CurrentItem.Address + "' id='hdnAddress'/></td>";
                            rows = rows + "<td><a id='lnkPassengerEdit' class='linkEdit' value='" + CurrentItem.ID + "'><span class='fa-stack fa-sm '><i class='fa fa-edit fa-stack-1x '></i></span></a><input type='hidden' value='" + CurrentItem.Status + "' id='hdnStatus'/></td>";
                            //rows = rows + actDeAct;
                            rows = rows + "</tr>";
                        });
                        tableBody.html("").html(rows);
                    }
                }
            }).done(function (result) {
                return false;
            });
        }
        table = $('#tblPassengerResults').DataTable({ searching: false, ordering: false });
    }

    function SetPopupTitle(popup, title, nav) {
        popup.find("div.modal-title").html("<span style='font-weight: bolder;text-align: right;font-size: larger;'>" + title + "</span>" + nav);
    }

    function AddPassenger() {
        $("button#btnAddPassenger").click(function () {
            ClearFormValuesInBlock(divAddEditPassenger);
            SetPopupTitle(divAddEditPassenger, "Add Passenger", "");
            divAddEditPassenger.find("input#chkPassengerActive").prop("checked", true);
            divAddEditPassenger.modal('show');
        });
    }

    function GetSelectedCheckBoxValue(filterClass) {
        var result = "Active";
        $("div#divPassengerEditor div.funkyradio").find("input." + filterClass).each(function () {
            if ($(this).is(":checked")) {
                result = $(this).attr("value");
            }
        });
        return result;
    }

</script>
