@model List<Reports.Services.AdministrationDB.ApplicationMenu>
<!-- Modal Contents -->
<div id="divAccessRights">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row" style="height: 300px;overflow: auto;">
                <ul>
                    @foreach (var menu in Model)
                    {
                        <li>
                            <input type="checkbox" class="expand" id="chk+@(menu.ApplicationMenuCode)" value="@(menu.ApplicationMenuCode)" /> &nbsp; <a class="expandLink"><b><i>@menu.ApplicationMenu1</i></b></a>
                            @if (menu.ApplicationScreens.Any())
                            {
                                <ul class="screenMenu">
                                    @foreach (var screen in menu.ApplicationScreens)
                                    {
                                        <li>
                                            <input type="checkbox" class="expand" id="chk+@(screen.ScreenCode)" value="@(screen.ScreenCode)" /> &nbsp; <a class="expandLink"><b><i>@screen.ScreenName</i></b></a>
                                            @if (screen.ApplicationFunctionalities.Any())
                                            {
                                                <ul class="funcMenu">
                                                    @foreach (var func in screen.ApplicationFunctionalities)
                                                    {
                                                        <li>
                                                            <input type="checkbox" class="expand" id="chk+@(func.FunctionalityCode)" value="@(func.FunctionalityCode)" /> &nbsp; <a class="expandLink"><b><i>@func.FunctionalityName</i></b></a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<script>
    $(document).ready(function () {
        $('.expand').click(function () {
            debugger;
            var checkBox = $(this)
            var parentUL = $('ul', checkBox.parent()).eq(0);

            if (checkBox.is(":checked")) {
                parentUL.find("input").prop("checked", true);
                parentUL.css("display", "block").find("ul").css("display", "block");                
            }
            else {
                parentUL.find("input").removeAttr("checked");
                parentUL.css("display", "none").find("ul").css("display", "none");
            }
        });

        $('.expandLink').click(function () {
            debugger;
            var parentUL = $('ul', $(this).parent()).eq(0);
            if (parentUL.css("display") == "none") {
                parentUL.css("display", "block");
                //parentUL.find(".expand").css("display", "contents");
            }
            else {
                parentUL.css("display", "none");
                //parentUL.find(".expand").css("display", "none");
            }
        });
    });
</script>
